<h1>Breeds of Petermon</h1>


<p>There are several breeds of Petermon. I have listed a few down below.</p>
<br>
<br>
<br>
<h3>Peterchu</h3>
<p>The Peterchu is a valiant creature with gorgeous looks and an incredible way of looking amazing in eve nthe most trying of circumstances.</p>
<img src="1.jpg"> 
<br>
<br>
<br>
<h3>Petemander</h3>
<p>The Petemander is a scary but awesome fire creature with his very own cooking programme based on barbecuing humans. Apparently they taste awesome.</p>
<img src="2.jpg">
<br>
<br>
<br>
<h3>Peterzard</h3>
<p>The Peterzard is a deviant little animal with depraved tendencies and horrible habits. He is basically a nasty piece of work. With super brain powers.</p>
<img src="3.jpg"> 